body
{
    background: repeating-linear-gradient(0deg, #222 0px, #222 10px, #333 10px, #333 20px),
                repeating-linear-gradient(90deg, #222 0px, #222 10px, #333 10px, #333 20px);
    animation: desplazarFondo 5s linear infinite;
}

@keyframes desplazarFondo
{
    from {background-position: 0 0;}
    to { background-position: 100px 100px;}
} 
    


#canvas
{
    border-style: solid;
    border-width: 5px;
    width: 1440px;
    height: 700px;
    background: white;
}

#osu
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#menu
{
    display: flex;
    flex-direction: row;
    margin: 10px;
    
}

#botones
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 15px;
    gap: 15px;
    margin-right: 50px;
}

#dificultad1{
    background-color: #038308;
    border: solid;
    color: white;
    border-color: white;
    border-radius: 10px;
}

#dificultad2{
    background-color: #2d99f7;
    border: solid;
    color: white;
    border-color: white;
    border-radius: 10px;
}

#dificultad3{
    background-color: #9a04bf;
    border: solid;
    color: white;
    border-color: white;
    border-radius: 10px;
}

#dificultad4{
    background-color: #750514;
    color: white;
    border: solid;
    border-color: white;
    border-radius: 10px;
}

#jugar
{
    display: inline;
    font-size: 25px;
    padding: 20px 40px;
    background-color: crimson;
    color: white;
    border: solid;
    border-color: white;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 15px;
}

#puntuacion
{
    
    color: white;
    display: flex;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    margin-left: 50px;
}

#leyenda
{
    border: solid;
    border-radius: 5px;
    color: black;
    border-color: #c7c7c7;
    background-color: white;
    margin-left: 150px;
    width: 300px;
    padding-left: 15px;
    
}

