body
{
    background: linear-gradient(to right, #65018a, #c302e0);
}

#canvas
{
    border-style: solid;
    border-width: 5px;
    width: 1440px;
    height: 700px;
    background: white;
}

#osu
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#menu
{
    display: flex;
    flex-direction: row;
}

#botones
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 15px;
    gap: 15px;
    margin-right: 50px;
}

#dificultad1{
    background-color: #91f743;
    border: none;
    border-radius: 10px;
}

#dificultad2{
    background-color: #2d99f7;
    border: none;
    border-radius: 10px;
}

#dificultad3{
    background-color: #9a04bf;
    border: none;
    border-radius: 10px;
}

#dificultad4{
    background-color: #750514;
    border: none;
    border-radius: 10px;
}

#jugar
{
    display: inline;
    font-size: 25px;
    padding: 20px 40px;
    background-color: crimson;
    color: white;
    border: solid;
    border-color: black;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 15px;
}

#puntuacion
{
    
    color: white;
    display: flex;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    margin-left: 50px;
}